[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/jcs0044
[access "refs/for/refs/*"]
	read = group user/jcs0044
	push = group user/jcs0044
	label-Code-Review = -2..+2 group user/jcs0044
	label-Verified = -1..+1 group user/jcs0044
	rebase = group user/jcs0044
	removeReviewer = group user/jcs0044
	submit = group user/jcs0044
[access "refs/heads/*"]
	read = group user/jcs0044
	create = group user/jcs0044
	push = +force group user/jcs0044
	pushMerge = group user/jcs0044
[access "refs/tags/*"]
	push = +force group user/jcs0044
	pushTag = group user/jcs0044
	pushSignedTag = group user/jcs0044
